<!DOCTYPE html>
<html lang="ru">
<head> <title>Регистрация пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body> <h1>Регистрация пользователя</h1> <form action="register.php" method="POST"> <label for="username">Имя пользователя:</label> <input type="text" id="username" name="username" required><br>

	<label for="password">Пароль:</label>
	<input type="password" id="password" name="password" required><br>

	<label for="email">Email:</label>
	<input type="email" id="email" name="email" required><br>

	<label for="phone">Телефон:</label>
	<input type="tel" id="phone" name="phone"><br>

	<label for="birthday">Дата рождения:</label>
	<input type="date" id="birthday" name="birthday"><br>

	<button type="submit">Зарегистрироваться</button>
</form>

</body> </html>